<h1>Welcome</h1>
<h2>Le Bon Plan</h2>

<nav>
  <div>
    <a href="/"> Home </a>
    <a href="#cities">Cities</a>
  </div>
  <div>
    <a href="/login">Login</a>
    <a href="/signup"> Signup </a>
  </div>

</nav>
<main class="#cities">
  <a href="/paris">Paris</a>
  <a href="/lyon">Lyon</a>
  <a href="/marseille">Marseille</a>
</main>