

{{#if isSignedUp}}
    <h2>You are successfully signed up.</h2>
{{else}}
    <p> This account already exists. </p>
{{/if}}

{{!-- 
{{#if isLoggedIn}}
    <p>You are connected</p>
{{else}}
    <p>You are disconnected</p>
{{/if}} --}}


<a href="/">Logout</a>